.header{

	min-height:100px;
    background-color:orange;

}

.wrapper{
      overflow:hidden;
      border:10px solid black;
   }

.blog{
  float:left;	
  width:70%;
  min-height:200px;
   background-color:red;

}
.contact{
	float:right;
    width:25%;
    min-height:200px;
 background-color:cyan;

}
.footer{
  clear:both;
	min-height: 100px;
	background-color:purple;
}